.options-class input {
  width: 101px !important;
}
.kuc-base-error-1-18-0__error{
  width: 101px !important;
  /* height: 71px !important; */
}
.custom-confirm-button {
  color: #f7f9fa !important;
}

.custom-cancel-button {
  color:  #3498db!important;
}

.swal2-content {
  padding: 0px !important;
}